{% extends 'base.html' %}
{% load static %}

{% block menu_search_header %}
  <div class="Header-searchWrap">
    <div class="wrap">
      <div class="Header-categories">
        <div class="CategoriesButton">
          <div class="CategoriesButton-title">
            <div class="CategoriesButton-icon"><img src="{% static 'assets/img/icons/allDep.svg' %}" alt="allDep.svg"/></div>
            <span class="CategoriesButton-text">Все категории</span>
            <div class="CategoriesButton-arrow">
            </div>
          </div>
          <div class="CategoriesButton-content">
            {% for category in menu_categories %}
              <div class="CategoriesButton-link">
                <a href="{% url 'categories:category-products-list' category_slug=category.slug %}">
                  <div class="CategoriesButton-icon"><img src="{% static 'assets/img/icons/departments/1.svg' %}" alt="1.svg"/></div>
                  <span class="CategoriesButton-text">{{ category.name }}</span>
                </a>
                {% if subcategories %}
                  <a class="CategoriesButton-arrow" href="#"></a>
                  <div class="CategoriesButton-submenu">
                    {% for subcategory in subcategories %}
                      <a class="CategoriesButton-link" href="{% url 'categories:subcategory-products-list' category_slug=category.slug subcategory_slug=subcategory.slug %}">
                        <div class="CategoriesButton-icon"><img src="{% static 'assets/img/icons/departments/1.svg' %}" alt="1.svg"/></div>
                        <span class="CategoriesButton-text">{{ subcategory.name }}</span>
                      </a>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="Header-searchLink"><img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>
      </div>
      <div class="Header-search">
        <div class="search">
          <form class="form form_search" action="#" method="post">
            <input class="search-input" id="query" name="query" type="text" placeholder="NVIDIA GeForce RTX 3060"/>
            <button class="search-button" type="submit" name="search" id="search"><img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>Поиск</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



{% block header-slider %}

        {% if banners_sliders %}
            <div class="Header-slider">
                <div class="Slider Slider_main">
                  <div class="Slider-box">
                      {% for banner_slider in banners_sliders %}
                            <div class="Slider-item">
                              <div class="Slider-content">
                                <div class="row">
                                  <div class="row-block">
                                    <strong class="Slider-title">{{ banner_slider.title }}
                                    </strong>
                                    <div class="Slider-text">{{ banner_slider.text }}
                                    </div>
                                    <div class="Slider-footer"><a class="btn btn_primary" href="#">Get Started</a>
                                    </div>
                                  </div>
                                  <div class="row-block">
                                    <div class="Slider-img"><img src="{{ banner_slider.product.preview.url }}" alt="{{ banner_slider.product.preview.name }}" width="100%"/>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                    {% endfor %}
                  </div>
                  <div class="Slider-navigateWrap">
                    <div class="Slider-navigate">
                    </div>
                  </div>
                </div>
            </div>

        {% else %}
            <h1>Банеров пока не завезли</h1>
        {% endif %}

{% endblock header-slider %}


{% block middle %}
<h1>Index page</h1>


{% endblock %}