{% extends 'catalog_app/catalog_base.html' %}
{% load static %}

{% block cards %}
    {% if products %}
          {% for product in products %}
            <div class="Card"><a class="Card-picture" href="{% url 'products:product-details' product_slug=product.slug %}"><img src="{{ product.preview.url }}" alt="card.jpg"/></a>
            <div class="Card-content">
              <strong class="Card-title"><a href="{% url 'products:product-details' product_slug=product.slug %}">{{ product.name }}</a></strong>
              <div class="Card-description">
                <div class="Card-cost"><span class="Card-price">$85.00</span></div>
                    {% for category in product.category.all %}
                        <div class="Card-category">{% if category.parent %} {{ category.parent.name }} {% else %} {{ category.name }} {% endif %} </div>
                    {% endfor %}
                <div class="Card-hover"><a class="Card-btn" href="#"><img src="{% static 'assets\img\icons\card\cart.svg' %}" alt="cart.svg"/></a></div>
              </div>
            </div>
          </div>
          {% endfor %}
    {% else %}
        <h1>Пока продуктов нет</h1>
    {% endif %}
{% endblock %}
