{% extends 'catalog_app/catalog_base.html' %}
{% load static %}

{% block cards %}
  {% if page_obj %}
    {% for product in page_obj %}
      <div class="Card" {% if product.name in browsing_history %}style="border-color: green;border-width: 2px;"{% endif %}>
        <a class="Card-picture" href="{% url 'products:product-details' product_slug=product.slug %}"><img src="{{ product.preview.url }}" alt="card.jpg"/></a>
        <div class="Card-content">
          <strong class="Card-title"><a href="{% url 'products:product-details' product_slug=product.slug %}">{{ product.name }}</a></strong>
          <div class="Card-description">
            <div class="Card-cost"><span class="Card-price">{{ product.get_price_range }} руб.</span></div>
            <div class="Card-category">{{ product.categories.first.parent.name }} / {{ product.categories.first.name }}</div>
            <div class="Card-hover"><a class="Card-btn" title="Добавить в корзину" href="{% url 'market.cart:cart_add' product.pk %}"><img src="{% static 'assets\img\icons\card\cart.svg' %}" alt="cart.svg"/></a>
            {% include 'comparison/compare_add_remove.html' %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    {% if query %}
      <h1>По запросу {{ query }} ничего не найдено</h1>
    {% else %}
      <h1>Пока продуктов нет</h1>
    {% endif %}
  {% endif %}

{% endblock %}

