{% extends 'catalog_app/catalog_base.html' %}
{% load static %}

{% block cards %}
    {% if page_obj  %}
          {% for sellerproduct in page_obj  %}
                {% if sellerproduct.product.name in browsing_history %}
                    <div class="Card" style="border-color: green;border-width: 2px;"><a class="Card-picture" href="{% url 'products:product-details' product_slug=sellerproduct.product.slug %}"><img src="{{ sellerproduct.product.preview.url }}" alt="card.jpg"/></a>
                        <div class="Card-content">
                          <strong class="Card-title"><a href="{% url 'products:product-details' product_slug=sellerproduct.product.slug %}">{{ sellerproduct.product.name }} от {{ sellerproduct.seller }}</a></strong>
                          <div class="Card-description">
                            <div class="Card-cost"><span class="Card-price">{{ sellerproduct.price }} руб.</span></div>
                                {% for category in sellerproduct.product.category.all %}
                                    <div class="Card-category">{% if category.parent %} {{ category.parent.name }} {% else %} {{ category.name }} {% endif %} </div>
                                {% endfor %}
                            <div class="Card-hover"><a class="Card-btn" href="#"><img src="{% static 'assets\img\icons\card\cart.svg' %}" alt="cart.svg"/></a></div>
                          </div>
                        </div>
                    </div>

                {% else %}
                    <div class="Card"><a class="Card-picture" href="{% url 'products:product-details' product_slug=sellerproduct.product.slug %}"><img src="{{ sellerproduct.product.preview.url }}" alt="card.jpg"/></a>
                        <div class="Card-content">
                          <strong class="Card-title"><a href="{% url 'products:product-details' product_slug=sellerproduct.product.slug %}">{{ sellerproduct.product.name }} от {{ sellerproduct.seller }}</a></strong>
                          <div class="Card-description">
                            <div class="Card-cost"><span class="Card-price">{{ sellerproduct.price }} руб.</span></div>
                                {% for category in sellerproduct.product.category.all %}
                                    <div class="Card-category">{% if category.parent %} {{ category.parent.name }} {% else %} {{ category.name }} {% endif %} </div>
                                {% endfor %}
                            <div class="Card-hover"><a class="Card-btn" href="#"><img src="{% static 'assets\img\icons\card\cart.svg' %}" alt="cart.svg"/></a></div>
                          </div>
                        </div>
                    </div>
                {% endif %}
          {% endfor %}
    {% else %}
        <h1>Пока продуктов нет</h1>
    {% endif %}

{% endblock %}

