{% extends 'repeat_blocks.html' %}
{% load static %}

{% block additional_link_script %}
  <link rel="stylesheet" href="{% static 'assets/css/seller-details.css' %}">
{% endblock %}

{% block header-slider %}

{% endblock %}

{% block middle %}
  <div class="Section">
    <div class="wrap">
      <div class="Seller">
        <div class="Seller__about flex">
          <div class="about-seller__top flex"><img src="{{ seller.logo.url }}" alt="Логотип продавца" class="Seller__logo"></div>
          <div class="about-seller__bottom">
            <h1 class="Seller__title">{{ seller.name }}</h1>
            <p class="Seller__descr">{{ seller.description }}</p>
          </div>
        </div>
        <div class="Seller__products">
          <h2 class="products__title">Продукты продавца</h2>
          <div class="Cards">
            {% for seller_product, seller_product_categories in seller_products_categories %}
              <div class="Card">
                <a href="{% url 'products:product-details' product_slug=seller_product.product.slug %}" class="Card-picture">
                  <img src="{{ seller_product.product.preview.url }}" alt="Изображение продукта" class="Card__img">
                </a>
                <div class="Card-content">
                  <strong class="Card-title">
                    <a href="{% url 'products:product-details' product_slug=seller_product.product.slug %}">{{ seller_product.product.name }}</a>
                  </strong>
                  <div class="Card-description">
                    <div class="Card-cost"><span class="Card-price">{{ seller_product.price }} Р.</span></div>
                    <div class="Card-category">{{ product.categories.first.parent.name }} / {{ product.categories.first.name }}</div>
                    <div class="Card-hover"><a href="" class="Card-button"><img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="иконка корзины"></a></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
