{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block header-slider %}
{% endblock %}

{% block main_header %}
    <div class="wrapper">
        <div class="header">
            <h3 class="sign-in">Вход</h3>
        </div>
        <div class="clear"></div>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div role="alert">
                    {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
            {% endif %}
            <div>
                {% render_field form.email class="user-input" type="text" name="name" id="name" placeholder="E-mail" %}
            </div>
            <div>

                {% render_field form.password type="password" name="pass" id="name" placeholder="*********"  %}
            </div>
            <div>
                <input type="submit" value="Войти" />
            </div>
            <a class="forgot-label" href="{% url "password_reset" %}">Забыли пароль?</a>
            <a class="registr" href="{% url "register" %}">
                Регистрация
            </a>
        </form>
    </div>
{% endblock %}