{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  <title>Сброс пароля</title>
{% endblock %}

{% block header-slider %}
{% endblock %}

{% block main_header %}
    <div class="wrapper">
        <div class="header">
            <h3 class="sign-in">Восстановление пароля (1/2)</h3>
            <h5>Для восстановления пароля введите адрес электронной почты, на которую зарегистрирована учетная запись</h5>
        </div>

        <form method="post">
            {% csrf_token %}
            <div>



                {% render_field form.email class="user-input" type="email" name="login" id="name" placeholder="E-mail" %}
            </div>
            <div>
                <input type="submit" value="Получить проверочный код" />
            </div>
            <a class="registr" href="{% url "market.profiles:register" %}">
                Вход
            </a>
        </form>
    </div>
{% endblock %}