{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  <title>Сброс пароля</title>
{% endblock %}

{% block header-slider %}
{% endblock %}

{% block main_header %}
    {% if validlink %}
        <div class="wrapper">
            <div class="header">
                <h3 class="sign-in">Восстановление пароля (2/2)</h3>
                <h5>Придумайте новый пароль для учетной записи</h5>
            </div>

            <form method="post">
                {% csrf_token %}
                <div>
                    {% render_field form.new_password type="password" name="pass" id="name" placeholder="Пароль" %}
                </div>
                <div>
                    <input type="submit" value="Сохранить пароль" />
                </div>
            </form>
        </div>
    {% else %}
        <p>
            Ссылка на смену пароля недействительна, возможно, потому, что она уже использовалась.
            Пожалуйста, запросите сброс пароля заново.
        </p>
    {% endif %}
{% endblock %}