{% extends 'repeat_blocks.html' %}
{% load static %}

{% block header-slider %}

{% endblock %}

{% block middle %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if compared_products|length > 1 %}
<form action="{% url 'comparison:compared_products' %}" method="get">
    <span class="col-2">Только отличающиеся параметры</span>
        <label class="checkbox" for="checkbox">
          <input class="checkbox" type="checkbox" id="checkbox" name="checkbox_only_diff" {% if checked %} checked {% endif %}>
        </label>
    <button type="submit">Применить</button>
</form>
{% else %}
<div class="Middle">
    <div class="wrap">
        <div class="Product">
            <div class="ProductCard">
                <div class="ProductCard-desc">
                    <div class="ProductCard-header">
                        <div>
                            Недостаточно товаров для сравнения. Одновременно можно сравнивать от 2 до 4 товаров.
                            Предварительно выберите необходимые товары в каталоге, категориях или воспользуйтесь поиском.
                            На карточках интересующих товаров кликайте на значок
                            <img src="{% static 'assets\img\icons\card\compare.svg' %}" alt="compare.svg"/>
                            и затем переходите к сравнению товаров
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="Middle">
    <div class="wrap">
        <div class="Product">
            <div class="ProductCard">
                {% for item in compared_products %}
                <div class="ProductCard-desc">
                    <div class="ProductCard-header">
                        <h2 class="ProductCard-title">{{ item.name }}
                        </h2>
                        <div class="ProductCard-look">
                            <div class="ProductCard-photo">
                                <img src="{{ item.preview.url }}" alt="{{ item.name }}" />
                            </div>
                        </div>

                        <div class="Tabs Tabs_default">
                            <div class="Tabs-wrap">
                                <div class="Tabs-block" id="description">
                                    <div class="table">
                                        <table>
                                        {% if different_categories %}
                                        <tr>
                                            <td class="comparis">Характеристики</td>
                                        </tr>
                                            {% if list_differences %}
                                                {% for characteristic in list_differences %}
                                        <tr>
                                            <td>{{ characteristic }}</td>
                                                    {% for spec in item.specification.all %}

                                                        {% if spec.name == characteristic %}
                                            <td>{{ spec.value }}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            {% else %}
                                                {% if list_specifications %}
                                                     {% for characteristic in list_specifications %}
                                            <td>{{ characteristic }}</td>
                                                            {% for spec in item.specification.all %}
                                                                {% if spec.name == characteristic %}

                                            <td>{{ spec.value }}</td>
                                                                {% endif %}
                                                            {% endfor %}
                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                     <div class="ProductCard-cart">
                        <div class="ProductCard-cartElement">
                            <a class="btn btn_primary" href="{% url 'comparison:remove_from_compare' item.id %}">
                                <img class="btn-icon" src="{% static 'assets\img\icons\card\compare.svg' %}" alt="compare.svg"/>Удалить из сравнения
                            </a>
                        </div>
                    </div>
                    <div class="ProductCard-info">
                        <div class="ProductCard-cost">
                            {% for product_id, product_price in prices_products.items %}
                                {% if product_id == item.id %}
                            <div class="ProductCard-price">{{product_price}}
                            </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="ProductCard-cart">
                        <div class="ProductCard-cartElement">
                            <a class="btn btn_primary" href="cart.html">
                                <img class="btn-icon" src="{% static 'assets\img\icons\card\cart_white.svg' %}" alt="cart_white.svg"/>Добавить в корзину
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}