<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Корзина</title>
</head>
<body>
<ul style="display: flex; flex-wrap: wrap; list-style: none; gap: 20px">
  {% for seller_product in seller_products %}
    <li>
      <img src="{{ seller_product.product.preview.url }}" alt="Изображение продукта" style="width: 200px">
      <p>{{ seller_product.product.name }}</p>
      <p>Описание: {{ seller_product.product.description }}</p>
      {% if priority_discount_type == seller_product.discount.type.name %}
        <p>Стоимость: <span style="text-decoration: line-through; color: #adaaac ">{{ seller_product.price }}</span> <b>{{ seller_product.get_format_discounted_price }} Р</b></p>
      {% else %}
        <p>Стоимость: <b>{{ seller_product.price }} Р</b></p>
      {% endif %}
    </li>
  {% endfor %}
</ul>
<p>Итого: <span style="text-decoration: line-through; color: #adaaac">{{ cart.cost }}</span> <b>{{ discounted_cart_cost }} Р</b></p>
<a href="{% url 'orders:making_an_order_page_1' %}">Оформить заказ</a>
</body>
</html>