{% extends "base.html" %}

{% block header-slider %}
{% endblock %}

{% block main_header %}
    {% if validlink %}
        <div class="wrapper">
            <div class="header">
                <h3 class="sign-in">Восстановление пароля (2/2)</h3>
                <h5>Придумайте новый пароль для учетной записи</h5>
            </div>

            <form action="#" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <input type="password" name="pass" id="name" placeholder="Пароль" />
                </div>
                <div>
                    <input type="submit" value="Сохранить пароль" />
                </div>
            </form>
        </div>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has already
            been used. Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}